.home-banner-bg {
    /* background-image: url(https://img.freepik.com/free-photo/gold-cutlery-set-black-background_1220-4099.jpg?w=826&t=st=1668015131~exp=1668015731~hmac=a0560f2825ad5c08324a467389f1d162d537066aea835946ef65580c83ec80b5);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #FED6DE;

}